.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full height to center content vertically
  background-color: #f9f9f9; // Light background color
  color: #333; // Dark text color

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .back-button {
    padding: 10px 20px;
    font-size: 1rem;
    align-self: center;
    color: #fff;
    background-color: #007bff; // Primary button color
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3; // Darker blue on hover
    }
  }
}
