.customBtn {
  background-color: #00549f;
  color: white;
  /* height: 40px; */
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: fit-content;
}

.customBtnOutline {
  background-color: white;
  color: #00549f;
  /* height: 40px; */
  display: flex;
  align-items: center;
  border-color: 1px solid #00549f;
  gap: 5px;
}
