@use "../../../global.scss" as *;

.customBtn {
  background-color: $main-color;
  color: white;
  /* height: 40px; */
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: fit-content;
}

.customBtnOutline {
  background-color: white;
  color: $primary-color;
  /* height: 40px; */
  display: flex;
  align-items: center;
  border-color: 1px solid $primary-color;
  gap: 5px;
}
