// navbar.scss
@use "../../../global.scss" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $main-color; // Use the namespace 'global' for variables
  width: 100%;
}

.menuLogoContainer {
  display: flex;
  align-items: center;
}

.menuIcon {
  background-color: $secondary-color; // Updated to use 'global' prefix
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  border-right: 1px solid #ffffff3d;
}

.menuIcon svg {
  color: white;
  font-size: 25px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: fit-content;
  padding: 0 10px;
  height: 100%;
  background-color: $secondary-color; // Updated
}

.logo {
  width: 150px;
}

.navItems {
  display: flex;
  gap: 10px;
}

.navItems a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navItems .navItem {
  padding-right: 10px;
  border-right: 1px solid #ffffff3d;
}

.navItems .navItem:last-child {
  padding-right: 0;
  border-right: none;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: fit-content;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.icons {
  padding: 15px 10px;
}

.icons svg {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.avatar {
  background-color: $secondary-color; // Updated
  margin-right: 8px;
}

.profile {
  padding-right: 10px !important;
}
