.create_case_form {
  padding: 5px 40px;

  .layout_box {
    background-color: white;
    border: 1px solid #13294b14;
    padding: 20px;
    border-radius: 20px;
  }

  .heading {
    font-weight: 600;
    font-size: 24px;
    color: #00549f;
  }

  .btn_container {
    display: flex;
    gap: 20px;
  }
}

// TODO: MEDIA QUERIS STARTS
@media (max-width: 768px) {
  .create_case_form {
    padding: 5px 10px;
  }
}

// TODO: EXTRA CLASSED FROM OLD CODEBASE

.iconDiv {
  height: 2rem !important;
  width: 2rem !important;
  border-radius: 8px !important;
  padding: 5px !important;
  background-color: #f0f5f9 !important;
}

.fileTitle {
  &:hover {
    color: #00549f;
    font-weight: 600;
  }
}

.container {
  padding: 0 40px;
}

.headerInvoive {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
// .ant-row {
//   margin-left: 0 !important;
//   margin-right: 0 !important;
// }

// .ant-col {
//   padding-left: 8px;
//   padding-right: 8px;
// }
